.category-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 20px;
  padding: 0 20px;
}

.category-container .filter-form {
  width: 100%;
  margin-top: 15px ;
}

.category-container .button-container {
  display: flex;
  justify-content: center;
}

.category-container .table-container {
  width: 100%;
  overflow-x: auto;
}

.category-container table {
  width: 100%;
  table-layout: fixed;
}

.category-container mat-form-field {
  width: 100%;
}

@media (max-width: 768px) {
  .category-container {
    padding: 0 10px;
  }

  .category-container button {
    width: 100%;
  }

  .category-container .mat-elevation-z8 {
    padding: 10px;
  }

  .category-container table {
    font-size: 14px;
  }

  .category-container mat-form-field {
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .category-container button {
    padding: 12px;
  }

  .category-container .table-container {
    overflow-x: auto;
  }

  .category-container table {
    font-size: 12px;
  }
}
